@font-face {
    font-family: 'Harry P';
    src: url('harry_p/HARRYP__.TTF');
}

body {
    font-family: 'Harry P', serif;
    transform: rotate(-90deg);
    position: absolute;
    top: 0;
    left: 64px;
    max-height: 100vh;
}

.section {
    border-top: 1px solid #d99923;
    border-bottom: 1px solid #d99923;
    /* padding: 32px; */
    transition: 0.5s ease all;
    background: #59181f;
    padding-left: 32px;
    padding-right: 32px;

}

.container {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-content: flex-start; */
    /* justify-content: flex-end; */
    /* overflow: hidden; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    max-width: 90vh;
    width: 90vh;
    height: calc(100vw - 32px);
}

h1 {
    font-family: 'Harry P', serif;
    font-size: 4rem;
    letter-spacing: 4px;
}

a {
    color: #d99923;
    text-decoration: none;
}

.section:hover {
    /* color: #f2c0a2; */
    transform: scale(1.1); 
    box-shadow: -30px 40px 10px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);   
}

polaroid-photo {
  transform: rotate(-5deg);
  display: inline-block;
  transition: 0.5s ease all;
}

polaroid-photo:hover {
    transform: rotate(0) scale(1.2);
}

/* 
    Colors
    052d4b
    0299d0
    59181f
    d99923
    f2c0a2
*/