@font-face {
    font-family: 'Harry P';
    src: url('../harry_p/HARRYP__.TTF');
}

body {
    font-family: 'Harry P', serif;
    padding: 0;
    margin: 0;
    background: url('../wood.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.page {
    background-size: contain;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    width: calc(90vh * 0.663);
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotateX(5deg);
}

.hidden {
  /* display: none !important; */
  opacity: 0;
  visibility: hidden;
}

.container {
    max-width: 80%;
    max-height: 80%;
    width: 80%;
    height: 80%;
    font-size: 48px;
    display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

h3 {
  margin: 0;
}

.container p {
  font-size: 32px;
}

.page-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 1s ease all;
}

.page-group > .page:first-child {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)), url('../background.jpg');
    border-right: 2px solid rgba(0, 0, 0, 0.9);
    margin-right: -2px;
    box-shadow: -20px 40px 20px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}

.page-group > .page:last-child {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0)), url('../background_flipped.jpg');
    border-left: 2px solid rgba(0, 0, 0, 0.9);
    box-shadow: 40px 40px 20px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#front-cover {
  background-image: url('Media\ Map\ Front\ Cover.jpg');
  width: calc(90vh * 0.663);
  height: 90vh;
}

#middle-left {
  background-image: url('Media\ Map\ Left\ Inside.jpg');
  width: calc(90vh * 0.661764706);
  height: 90vh;
}

#middle-right {
  background-image: url('Media\ Map\ Right\ Inside.jpg');
  width: calc(90vh * 0.633986928);
  height: 90vh;
}

#back-cover {
  background-image: url('Media\ Map\ Back\ Cover.jpg');
  width: calc(90vh * 0.629084967);
  height: 90vh;
}

.no-display {
  background: none;
  box-shadow: none;
  display: none;
}

small {
  font-size: 16px;
  display: block;
}

a {
  color: black;
  text-decoration: none;
}